.container {
    background-color: rgb(74, 21, 152) !important;
}
.footer-header {
    color: rgb(244, 250, 79);
    font-family: "Roboto Slab", sans-serif;
    font-weight: bold;
    line-height: 1.5;
}