<header>
    <div class="container bg-dark text-light">
        <div class="row">
            <div class="header-space-top">
                <div class="m-4">
                    <h1 class="logo-page">NTC coder</h1>
                    <h5 class="slogan-page">Trang chia sẻ kiến thức lập trình</h5>
                </div>

            </div>
        </div>
        <div class="row">
            <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
                <a class="navbar-brand" href="#"><i class="fa-solid fa-house-chimney"></i></a>
                <ul class="navbar-nav d-md-none flex-row alwaytop ms-auto user-info">
                    <li class="nav-item"><a href="#" class="nav-link">
                            <i class="fa-solid fa-user-graduate"></i> Trần Công Nam</a>
                    </li>
                </ul>
                <button class="navbar-toggler d-lg-none" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapsibleNavId" aria-controls="collapsibleNavId" aria-expanded="false"
                    aria-label="Menu">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse show" id="collapsibleNavId">
                    <ul class="navbar-nav me-auto mt-2 mt-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" href="#" aria-current="page">Trang chủ<span
                                    class="visually-hidden">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Kiến thức</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Code mẫu</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Kinh nghiệm</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Thảo luận</a>
                        </li>
                    </ul>
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item"><a href="#" class="nav-link">
                                <i class="fa-solid fa-user-graduate"></i> Trần Công Nam</a>
                        </li>
                        <li class="nav-item"><a href="#" class="btn-success nav-link login-button" type="button">
                                Đăng nhập</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
</header>