<p><b>Video nổi bật</b></p>
<div class="embed-responsive embed-responsive-16by9">
    <iframe width="100%" height="300px" class="embed-responsive-item" src="https://www.youtube.com/embed/Wf2Ahoh3bfk"
        allowfullscreen></iframe>
    <p>Bài viết: Hướng dẫn abcxyz (tác giá: ABC)</p>
</div>
<hr />

<div class="mb-2 d-flex justify-content-between">
    <p><b>Các bài viết nổi bật</b></p>
    <select class="form-select form-select-sm p-1" style="height: 30px; width: 150px;">
        <option selected disabled>Chọn thời gian</option>
        <option value="1">Tuần hiện tại</option>
        <option value="2">Tháng hiện tại</option>
        <option value="3">Năm hiện tại</option>
    </select>
</div>
<div class="card bg-secondary mb-3">
    <div class="card-body">
        <h5 class="card-title text-capitalize">Light card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
    </div>
</div>
<div class="card bg-secondary mb-3">
    <div class="card-body">
        <h5 class="card-title text-capitalize">Light card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
    </div>
</div>
<div class="card bg-secondary mb-3">
    <div class="card-body">
        <h5 class="card-title text-capitalize">Light card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
    </div>
</div>