<footer>
    <div class="container bg-dark">
        <div class="row">
            <div class="col-8">
                <div class="p-5">
                    <h4 class="footer-header">Giới thiệu</h4>
                    <p>NTC Coder là trang web cá nhân, được thành lập với mục đích lưu trữ, chia sẻ kiến thức và kinh
                        nghiệm đã tìm tòi, đã học và làm việc của tôi.
                        Hi vọng góp được chút ít công sức cho sự phát triển cộng đồng Coder Việt.</p>
                </div>
            </div>
            <div class="col-4">
                <div class="p-5">
                    <h4 class="footer-header">Liên hệ</h4>
                    <p>Các bạn có thể liên hệ tôi thông qua:</p>
                    <p>Email: trancongnam15@gmail.com</p>
                    <p>SĐT: 0123456789</p>

                </div>
            </div>
        </div>
    </div>


</footer>