<div class="container">
  <div class="row">
    <div class="col-md-5">
      <div class="registry-class">
        <div class="embed-responsive embed-responsive-16by9 mx-5 mb-2 mt-5">
          <iframe width="100%" height="300px" class="embed-responsive-item"
            src="https://www.youtube.com/embed/Wf2Ahoh3bfk" allowfullscreen></iframe>
        </div>
        <a name="" id="" class="btn btn-primary mb-2" href="#" role="button">Đăng ký học ngay</a>
      </div>
      <div class="table-responsive">
        <table class="table table-primary text-center">
          <thead>
            <tr>
              <th scope="col">Mã khóa học</th>
              <th scope="col"><i class="fa-solid fa-user-group"></i> Học viên</th>
              <th scope="col"><i class="fa-solid fa-eye"></i> Lượt xem</th>
            </tr>
          </thead>
          <tbody>
            <tr class="">
              <td scope="row">#angular12</td>
              <td>50</td>
              <td>50</td>
            </tr>
          </tbody>
        </table>
      </div>     
     
    </div>
    <div class="col-md-7">

    </div>
  </div>
</div>